/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 20px 150px;
    background-color: #F3C623;
}

ul {
    list-style: none;
}

a {
    color: #333333;
    text-decoration: none;
}

/* Navigation */

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

header .logo, header .nav .nav-menu {
    flex: auto;
}

header .logo img {
    max-width: 50px;
    max-width: 50px;
}

ul li input{
    outline: none;
    border: 1px solid #000;
    padding-left: 12px;
    height: 30px;
    color: #00000;
    border-radius: 15px;
}


header .nav-menu li {
    display: inline-block;
    padding-right: 15px;
}

header .nav-menu li:last-child {
    padding-right: 0;
}

header .nav-menu li a {
    font-family: "Roboto";
    color: #333333;
    padding-bottom: 2px;
}

header .nav-menu li a:hover {
    border-bottom: 3px solid #333333;
}

/* Content */
main {
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

main .left, main .right img {
    flex: auto;
}

main .left .text-area h1, main .left .text-area h2 {
    font-family: "Lato";
    font-size: 50px;
}

main .left .text-area span {
    display: inline-block;
    padding-top: 5px;
    font-family: "Roboto";
    font-size: 16px;
    color: #333333;
}

main .left .button-area {
    margin: 30px 0;
}

main .left .button-area a {
    border: 3px solid #333333;
    border-radius: 35px;
    color: #333333;
    font-family: "Roboto";
    display: inline-flex;
    width: 120px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    transition: color 0.5s;
}

main .left .button-area a:hover {
    color: #ffffff;
    background-color: #333333;
}

main .social-media li {
    display: inline-block;
}

.fa-envelope, .fa-youtube, .fa-facebook, .fa-instagram-square {
    padding-right: 10px;
    color: #333333;
    transition: color 0.5s;
}

.fa-envelope:hover, .fa-youtube:hover, .fa-facebook:hover, .fa-instagram-square:hover {
    color: #ffffff;
}

main .right img {
    border: 4px solid #1c1b1b; 
    border-radius: 100%;
    max-width: 400px;
    max-height: 400px;
}
